body{
    border-left: #6e02fc solid 40px;
    border-right: #6e02fc solid 40px;
    border-bottom: #6e02fc solid 20px;
    border-top: #6e02fc solid 20px;
    display: grid;
    grid-template-rows: auto auto;
    padding: 20px;
    border-radius: 50px;
}

li{
    font-size: large;
    color: #4066e0;
    }
    a{
    text-decoration: none;
    color: #4066e0;
    text-decoration: underline;
}

.video{
    float: left;
    height: 500px;
    margin: 10px;
}

.main-grid{
    display: grid;
    grid-template-rows: auto auto auto auto;
}

.grid{
    display: grid;
    grid-template-columns: auto auto;
}

.teacher{
    height: 100px;
}

table{
    border-radius: 25px;
}
th[colspan="4"] {
    text-align: center;
}

.table th, .table td{ 
border-bottom: none !important; 
}

.t-bottom{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px;
}

.t-left{
    border-top-left-radius: 20px;
}

.t-right{
    border-top-right-radius: 20px;
}

video{
    border-radius: 20px;
}