@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Smooch+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

 .head {
  font-family: 'Smooch Sans', cursive;
  font-size: 64px;
  text-align: center;
  font-style: italic;
}

*{
    color: rgb(34, 34, 34);
    margin: 10px;
}

.body{
    display: grid;
    grid-template-columns: 50% 50%;
}
.b1{
    text-align: center;
    font-family: Inconsolata;
    font-size: 54px;
}

.b2{
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(34, 34, 34); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(46, 46, 46); 
}

.teacher{
  height: 100px;
}

table{
    border-radius: 25px;
}
th[colspan="4"] {
    text-align: center;
}

.table th, .table td{ 
border-bottom: none !important; 
}

.noh:hover{
    background-color: rgb(0, 0, 0) !important;
}

tr:hover{
  background-color: rgb(9, 9, 9); ;
}

.t-bottom{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px;
}

.t-left{
    border-top-left-radius: 20px;
}

.t-right{
    border-top-right-radius: 20px;
}

.video{
  float: left;
  height: 500px;
  margin: 10px;
}


li{
  font-size: large;
  color: #4066e0;
  }
  a{
  text-decoration: none;
  color: #4066e0;
  text-decoration: underline;
}

.video{
  float: left;
  height: 500px;
  margin: 10px;
}

.main-grid{
  display: grid;
  grid-template-rows: auto auto auto auto;
}

.grid{
  display: grid;
  grid-template-columns: auto auto;
}

.teacher{
  height: 100px;
}

table{
  border-radius: 25px;
}
th[colspan="4"] {
  text-align: center;
}

.table th, .table td{ 
border-bottom: none !important; 
}

.t-bottom{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius:20px;
}

.t-left{
  border-top-left-radius: 20px;
}

.t-right{
  border-top-right-radius: 20px;
}

video{
  border-radius: 20px;
}